@font-face {
  font-family: "iconfont"; /* Project id 2302020 */
  src: url('iconfont.woff2?t=1621171812651') format('woff2'),
       url('iconfont.woff?t=1621171812651') format('woff'),
       url('iconfont.ttf?t=1621171812651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asc:before {
  content: "\e600";
}

.icon-desc:before {
  content: "\e6bb";
}

.icon-success:before {
  content: "\e644";
}

.icon-error:before {
  content: "\e620";
}

.icon-loading:before {
  content: "\e671";
}

.icon-left:before {
  content: "\e635";
}

.icon-right:before {
  content: "\e63e";
}

.icon-downLoad:before {
  content: "\e639";
}

.icon-dianzan:before {
  content: "\e603";
}

.icon-setting:before {
  content: "\e6ba";
}

